.heading {
            background: linear-gradient(to right, grey, blue);
            padding-top: 2%;
            padding-left: 2%;
            padding-bottom: 2%;
            position: absolute;
            top: -25px;
            width: 100%;
            left: -1px;
            color: white;

        }
        body {
            background-image: url('/static/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        #bg{
          margin-left: auto;
          margin-right: auto;
          display: block;
          }
