<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>DAS</title>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Dashboard</header>
  <ul>
<li><a href="/tired"><i class="fas fa-tired"></i>Sleep Monitoring</a></li>
<li><a href="/lanes"><i class="fas fa-road"></i>Lane Detection</a></li>
<li><a href="/ped"><i class="fas fa-angry"></i>Pedestrian Watch</a></li>
<li><a href="/gest"><i class="fas fa-hand-point-up"></i>Gesture Controller</a></li>
<li><a href="/stops"><i class="fas fa-traffic-light"></i>Stop Sign Detection</a></li>
<li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
</ul>
</div>
<section></section>
  </body>
</html>